* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	background-color: transparent;
	color: var(--text-primary);
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	text-decoration: none;
	transition-duration: 0.3s;
	transition-property: width, color, background-color;
}

html { font-size: 10px; }

button { cursor: pointer; }

input { min-width: 0; }